{% extends "layouts/base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
<div class="d-flex flex-row align-items-center gap-4">

    <p class="text-center mb-2 fs-3">Температура и влажность</p>
</div>


<div class="col-md-8 col-sm-12">
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col">
                <p>Выберите дату:</p>
            </div>
            <div class="col">
               {{ form }}
            </div>
            <div class="col">
                <input type="submit" value="Выбрать">
            </div>
        </div>
    </form>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Время</th>
            <th scope="col">Температура</th>
            <th scope="col">Влажность</th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}

        <tr>
            <td>{{ item.data_time }}</td>
            <td>{{ item.temperature }} °C</td>
            <td>{{ item.vlagnost }} %</td>
        </tr>
        {% endfor %}

        </tbody>
    </table>

</div>

{% endblock %}